body{
    background-image: linear-gradient(black, rgb(0, 0, 0));
  }

    table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #666666;
      background-color: #161616;
    } 

    li:last-child {
      border-right: none;
    }
    li {
      float: left;
      border-right:1px solid #909090;
    }
    
    li a {
    display: block;
     color: white;
    text-align: center;
     padding: 14px 16px;
     text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #666666;
    }

    .active {
        background-color: #292929
    }
    .game{
        text-align: center;
    }

    .game2{
        margin-left: 5%;
    }

.midtext {
  text-align: center;
}
#lefttext {
    margin-left: 30%;
}

.joshua { grid-area: header; }
.box1 { grid-area: menu; }
.box2 { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}